/*  your css code here. If applicable */

.head{
    background-color:  #011e29;
    color: #feffff;
    padding: 10px;
    text-align: center;
}
body{
    background-color: #f5f5f5;
    width: 100%;
}
.content{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
/*     gap: 10px; */
}
.part-1{
    width: 300px;
    height: 200px;
    text-align:center;
    border-radius: 10px;
background-color: #fffffe;
padding: 10px;
}
div>ul{
    padding-top: 3px;
}
div>ul>li{
    width: 80%;
    text-align: center;
    list-style-position: inside;
}

.part-2{
    width: 600px;
    height: 300px;
   
    border-radius: 10px;
    background-color: #fffffe;
    text-align: center;
    padding: 10px;
    border: none;
    
}
.part-3{
    width: 300px;
    height: 750px;
    
    border-radius: 10px;
    background-color: #fffffe;
    padding: 10px;
   text-align: center;
}
p{
    padding: 30px;
}
img{
    padding-top: 10px;
    width: 80%;
    height: 200px;
    
}